.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
heroes_companion.db
app/ls\.txt

app/android/key\.properties

app/assets/heroes_companion\.db-journal

app/Google Play Android Developer-7b9b7ba0fa1d\.json

app/lib/dsn\.dart
